* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  background: #2bf152;
}

.textarea {
  margin: 0 256px;
  margin-top: 50px;
  width: 65%;
  height: 200px;
  border: 2px solid #368245;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  resize: none;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 25px;
  padding: 10px;
  /* background: #09b72c5f; */
  border: 2px solid #368245;
  border-radius: 20px;
  width: 65%;
}

.keyboard__row {
  display: flex;
  justify-content: center;
}

.button {
  width: 60px;
  height: 60px;
  margin: 2px;

  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000;

  background: #fff;
  border: 2px solid #368245;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(60, 119, 74, 0.527);

  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background: #000;
}

.button.active {
  color: #fff;
  background: #09b72c5f;
}